<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>           
        /* Largeur des colonnes */
        th:first-child,
        td:first-child {
            width: 8%; 
        }
        
        th:nth-child(2),
        td:nth-child(2) {
            width: 8%; 
        }

        th:nth-child(3),
        td:nth-child(3){
            width: 8%; 
        }
        
        th:nth-child(4),
        td:nth-child(4) {
            width: 12%; 
        }
        th:nth-child(5),
        td:nth-child(5) {
            width: 17%; 
        }
        th:nth-child(6),
        td:nth-child(6) {
            width: 23%; 
        }
        
        th:nth-child(7),
        td:nth-child(7) {
            width: 25%; 
        }
        

    </style>
    <title>Mic FAisceaux</title> 
</head>
<body class='special-page'>
    <div id="header">
        <a href="/" class="Accueil-lien">
            <img src="static/images/maison.png" alt="Accueil">   
        </a>
        <h1>Mic FAisceaux</h1>
    </div>

    <main class="no-transform">
        <div class="box">
            <!-- Formulaire pour soumettre les données de l'utilisateur -->
            <form action="/MICFSC" method="POST" id="submitForm">
                <textarea name="text" id="myTextarea" class="customTextearea customTextarea" placeholder="SGTQS" maxlength="4" required=""></textarea><br>
                <input type="submit" class="btn btn-primary" value="Exécuter">
            </form>
            
        </div>
        
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const filterForm = document.getElementById('filterForm');
                const extremiteSelect = document.getElementById('extremite_select');
                const submitForm = document.getElementById('submitForm');              
                const entries = document.querySelectorAll('.entry-row');
                const bloablodHeader = document.querySelector('th[data-column="bloablod"]');
                const qmcmoHeader = document.querySelector('th[data-column="qmcmo_act"]');
                const qmcilHeader = document.querySelector('th[data-column="qmcil"]');
                const copyQMCILButton = document.getElementById('copyQMCILButton');
                const copyBloaBlodButton = document.getElementById('copyBloaBlodButton');
                const copyQmcmoButton = document.getElementById('copyQmcmoButton');
                const copyCirdemButton = document.getElementById('copyCirdemButton');
                const miseAJourButton = document.getElementById('miseAJourButton');

                
                let isSlashAdded = false;
                let isEdAdded = false;
                let isAddACT = false;


                
                // Fonction pour extraire les valeurs uniques des extrémités
                function getUniqueExtremiteValues() {
                    const uniqueExtremiteValues = new Set();
                    entries.forEach(entry => {
                        const extremite = entry.querySelector('td[data-column="extremite"]').innerText;
                        uniqueExtremiteValues.add(extremite);
                    });
                    return Array.from(uniqueExtremiteValues);
                }
        
                // Remplir le menu déroulant avec les valeurs uniques des extrémités
                const extremiteValues = getUniqueExtremiteValues();
                extremiteValues.forEach(extremite => {
                    const option = document.createElement('option');
                    option.value = extremite;
                    option.text = extremite;
                    extremiteSelect.add(option);
                });

                function updateQMCILValues() {
                    entries.forEach(entry => {
                        const entryQMCILElement = entry.querySelector('td[data-column="qmcil"]');
                        const entryAflrElement = entry.querySelector('td[data-column="aflr"]');
                
                        // Vérifier si les éléments existent avant d'accéder à 'innerText'
                        if (entryQMCILElement && entryAflrElement) {
                            const entryAflr = entryAflrElement.innerText.trim();
                
                            // Calculer la valeur de QMCIL
                            const qmcilValue = `QMCIL:AFLR=${entryAflr};`;
                
                            // Mettre à jour la valeur dans la colonne QMCIL
                            entryQMCILElement.innerText = qmcilValue;
                        }
                    });
                }

                // Fonction pour afficher la confirmation de copie
                function showCopyConfirmation() {
                    const confirmationElement = document.createElement('div');
                    confirmationElement.className = 'copy-confirmation';
                    confirmationElement.innerText = 'Copié !';
                    document.body.appendChild(confirmationElement);

                    // Supprimer l'élément de confirmation après l'animation
                    setTimeout(() => {
                        document.body.removeChild(confirmationElement);
                    }, 3000);
                }

                function updateQmcmoIValues() {
                    entries.forEach(entry => {
                        const entryQmcmoIElement = entry.querySelector('td[data-column="qmcmo"]');
                        const entryAflrElement = entry.querySelector('td[data-column="aflr"]');
                
                        // Vérifier si les éléments existent avant d'accéder à 'innerText'
                        if (entryQmcmoIElement && entryAflrElement) {
                            const entryAflr = entryAflrElement.innerText.trim();
                
                            // Calculer la valeur de QmcmoI
                            const qmcmoIValue = `QMCMO:AFCT=${entryAflr},CRC=ACT;`;
                
                            // Mettre à jour la valeur dans la colonne QmcmoI
                            entryQmcmoIElement.innerText = qmcmoIValue;
                        }
                    });
                }

                function watchbloablod() {
                    entries.forEach(entry => {
                        const entryAflrElement = entry.querySelector('td[data-column="aflr"]');
                        const entryBloablod = entry.querySelector('td[data-column="bloablod"]');
            
                        // Vérifier si les éléments existent avant d'accéder à 'innerText'
                        if (entryBloablod && entryAflrElement) {
                            const entryAflr = entryAflrElement.innerText.trim();
                
                            // Calculer la valeur de QMCIL
                            const bloablodValue = `CTMO:AFCT=${entryAflr}-1<31,ETAT=BLOA+BLOD;`;
                
                            // Mettre à jour la valeur dans la colonne QMCIL
                            entryBloablod.innerText = bloablodValue;   
                        }
                    });
                }
        
                // Fonction pour appliquer le filtre
                function applyFilter() {
                    const extremiteFilter = extremiteSelect.value.toUpperCase();
        
                    // Afficher ou masquer les entrées en fonction des filtres
                    entries.forEach(entry => {
                        const entryExtremiteElement = entry.querySelector('td[data-column="extremite"]');
        
                        // Vérifier si l'élément existe avant d'accéder à 'innerText'
                        if (entryExtremiteElement) {
                            const entryExtremite = entryExtremiteElement.innerText.toUpperCase();
        
                            const extremiteMatch = extremiteFilter === '' || entryExtremite === extremiteFilter;
        
                            if (extremiteMatch) {
                                entry.style.display = 'table-row';
                            } else {
                                entry.style.display = 'none';
                            }
                        }
                    });
                }

                // Fonction pour copier le contenu d'une cellule dans le presse-papiers
                function copyToClipboard(cellContent) {
                    const dummyTextarea = document.createElement('textarea');
                    dummyTextarea.value = cellContent;
                    document.body.appendChild(dummyTextarea);
                    dummyTextarea.select();
                    document.execCommand('copy');
                    document.body.removeChild(dummyTextarea);

                    // Afficher la confirmation de copie
                    showCopyConfirmation();
                }

                // Appeler la fonction pour mettre à jour les valeurs QMCIL et QmcmoI
                updateQMCILValues();

                updateQmcmoIValues();

                // Appeler la fonction au chargement de la page
                watchbloablod();
        
                // Ajouter un gestionnaire d'événements pour le formulaire de filtrage
                filterForm.addEventListener('submit', function (event) {
                    event.preventDefault();
                    applyFilter();
                });
        
                // Ajouter un gestionnaire d'événements pour le bouton de filtrage
                const filterButton = document.getElementById('filterButton');
                filterButton.addEventListener('click', function () {
                    applyFilter();
                });
        
                // Ajouter un gestionnaire d'événements pour le formulaire de soumission
                submitForm.addEventListener('submit', function (event) {
                    // Ajoutez ici le code pour gérer la soumission des données de l'utilisateur si nécessaire
                });

                // Ajoutez un gestionnaire d'événements pour chaque cellule que vous souhaitez rendre copiable
                entries.forEach(entry => {
                    const cellsToCopy = entry.querySelectorAll('td[data-copyable="true"]');
                    cellsToCopy.forEach(cell => {
                        cell.addEventListener('click', function () {
                            copyToClipboard(cell.innerText);
                        });
                    });
                });

                bloablodHeader.addEventListener('click', function () {
                    // Modifier le titre de la colonne
                    isSlashAdded = !isSlashAdded;
                    bloablodHeader.innerText = isSlashAdded ? '/BLOA+BLOD' : 'BLOA+BLOD';
            
                    // Mettre à jour le contenu des cellules
                    entries.forEach(entry => {
                        const entryBloablodElement = entry.querySelector('td[data-column="bloablod"]');
                        const entryAflrElement = entry.querySelector('td[data-column="aflr"]');
            
                        // Vérifier si les éléments existent avant d'accéder à 'innerText'
                        if (entryBloablodElement && entryAflrElement) {
                            const entryAflr = entryAflrElement.innerText.trim();
                            const bloablodValue = `CTMO:AFCT=${entryAflr}-1<31,ETAT=${isSlashAdded ? '/BLOA+BLOD' : 'BLOA+BLOD'};`;
                            entryBloablodElement.innerText = bloablodValue;
                        }
                    });
                });

                qmcilHeader.addEventListener('click', function () {
                    // Modifier le titre de la colonne
                    isEdAdded = !isEdAdded;
                    qmcilHeader.innerText = isEdAdded ? 'QMCIL,ED=OUI' : 'QMCIL';
            
                    // Mettre à jour le contenu des cellules
                    entries.forEach(entry => {
                        const entryQMCILElement = entry.querySelector('td[data-column="qmcil"]');
                        const entryAflrElement = entry.querySelector('td[data-column="aflr"]');
            
                        // Vérifier si les éléments existent avant d'accéder à 'innerText'
                        if (entryQMCILElement && entryAflrElement) {
                            const entryAflr = entryAflrElement.innerText.trim();
                            const qmcilValue = `QMCIL:AFLR=${entryAflr}${isEdAdded ? ',ED=OUI' : ''};`;
                            entryQMCILElement.innerText = qmcilValue;
                        }
                    });
                });

                // Ajouter un gestionnaire d'événements pour la colonne "qmcmo"
                
                qmcmoHeader.addEventListener('click', function () {
                    // Modifier le titre de la colonne
                    isAddACT = !isAddACT;
                    qmcmoHeader.innerText = isAddACT ? 'QMCMO_ACT' : 'QMCMO_NACT';
            
                    // Mettre à jour le contenu des cellules
                    entries.forEach(entry => {
                        const entryQmcmoElement = entry.querySelector('td[data-column="qmcmo"]');
                        const entryAflrElement = entry.querySelector('td[data-column="aflr"]');
            
                        // Vérifier si les éléments existent avant d'accéder à 'innerText'
                        if (entryQmcmoElement && entryAflrElement) {
                            const entryAflr = entryAflrElement.innerText.trim();
                            const qmcmoValue = `QMCMO:AFCT=${entryAflr}${isAddACT ? ',CRC=ACT' : ',CRC=NACT'};`;
                            entryQmcmoElement.innerText = qmcmoValue;
                        }
                    });
                });
                
                // Ajouter un gestionnaire d'événements pour chaque cellule de la colonne "cirdem"
                const cirdemCells = document.querySelectorAll('td[data-column="cirdem"]');
                cirdemCells.forEach(cell => {
                    cell.addEventListener('click', function () {
                        // Récupérer la valeur actuelle de la cellule
                        const currentCirdemValue = cell.innerText.trim().toLowerCase();
            
                        // Modifier la valeur en fonction de votre nouvelle logique
                        let newCirdemValue;
                        if (currentCirdemValue === 'oui') {
                            const entryAflrElement = cell.parentElement.querySelector('td[data-column="aflr"]');
                            const entryAflr = entryAflrElement ? entryAflrElement.innerText.trim() : '';
            
                            // Nouvelle logique pour la valeur de "cirdem" lorsqu'elle est "oui"
                            newCirdemValue = `CIRDEM:AFCT=${entryAflr}-1<31;`;
            
                        } else {
                            // Vous pouvez définir une logique différente ici si nécessaire
                            newCirdemValue = 'Nouvelle valeur lorsque "cirdem" est autre que "oui"';
                        }
            
                        // Copier la nouvelle valeur dans le presse-papiers
                        copyToClipboard(newCirdemValue);
                    });
                });

                // Fonction pour copier le contenu des colonnes "30N" et "AFLR"
                function copy30NToClipboard() {
                    const thirtyNCells = document.querySelectorAll('td[data-column="30n"]');
                    let thirtyNContent = '';

                    // Parcourir les cellules de la colonne "30N"
                    thirtyNCells.forEach(cell => {
                        // Vérifier si la ligne parente est visible (après l'application du filtre)
                        if (cell.parentElement.style.display !== 'none') {
                            const entryAflrElement = cell.parentElement.querySelector('td[data-column="aflr"]');
                            const entryAflr = entryAflrElement ? entryAflrElement.innerText.trim() : '';
                            thirtyNContent += `${cell.innerText} - AFLR: ${entryAflr}\n`;
                        }
                    });

                    // Copier le contenu dans le presse-papiers
                    copyToClipboard(thirtyNContent.trim());
                }

                // Ajouter un gestionnaire d'événements pour le clic sur le bouton Copier QMCIL
                copyQMCILButton.addEventListener('click', function () {
                    copyColumnToClipboard('qmcil');
                });

                // Ajouter un gestionnaire d'événements pour le clic sur le bouton Copier BLOA+BLOD
                copyBloaBlodButton.addEventListener('click', function () {
                    copyColumnToClipboard('bloablod');
                });

                // Ajouter un gestionnaire d'événements pour le clic sur le bouton Copier QMCMO
                copyQmcmoButton.addEventListener('click', function () {
                    copyColumnToClipboard('qmcmo');
                });

                // Ajouter un gestionnaire d'événements pour le clic sur le bouton Copier 30N
                const copy30NButton = document.getElementById('copy30NButton');
                copy30NButton.addEventListener('click', function () {
                    copyColumnToClipboard('30n_and_aflr');
                });


                // Fonction générique pour copier le contenu d'une colonne spécifiée
                function copyColumnToClipboard(columnName) {
                    if (columnName === '30n_and_aflr') {
                        copy30NToClipboard();
                        return;
                    }

                    const columnCells = document.querySelectorAll(`td[data-column="${columnName}"]`);
                    let columnContent = '';

                    // Parcourir les cellules de la colonne spécifiée
                    columnCells.forEach(cell => {
                        // Vérifier si la ligne parente est visible (après l'application du filtre)
                        if (cell.parentElement.style.display !== 'none') {
                            columnContent += cell.innerText + '\n';
                        }
                    });

                    // Copier le contenu de la colonne dans le presse-papiers
                    copyToClipboard(columnContent.trim());
                }

                // Ajouter un gestionnaire d'événements pour le clic sur le bouton "Mise à jour"
                miseAJourButton.addEventListener('click', function () {
                    // Faites une requête GET vers la route '/miseajour' pour déclencher la mise à jour
                    fetch('/miseajour', { method: 'GET' })
                        .then(response => response.text())
                        .then(responseText => {
                            // Affichez la réponse dans la console du navigateur (vous pouvez ajuster cela)
                            console.log(responseText);
                        })
                        .catch(error => {
                            console.error('Erreur lors de la mise à jour :', error);
                        });
                });


                function copyCirdemToClipboard() {
                    const cirdemCells = document.querySelectorAll('td[data-column="cirdem"]');
                    let cirdemContent = '';
                
                    // Parcourir les cellules de la colonne CIRDEM
                    cirdemCells.forEach(cell => {
                        // Vérifier si la ligne parente est visible (après l'application du filtre)
                        if (cell.parentElement.style.display !== 'none') {
                            const currentCirdemValue = cell.innerText.trim().toLowerCase();
                
                            // Ajouter uniquement les cellules avec la valeur "oui"
                            if (currentCirdemValue === 'oui') {
                                const entryAflrElement = cell.parentElement.querySelector('td[data-column="aflr"]');
                                const entryAflr = entryAflrElement ? entryAflrElement.innerText.trim() : '';
                                cirdemContent += `CIRDEM:AFCT=${entryAflr}-1<31;\n`;
                            }
                        }
                    });
                
                    // Copier le contenu de la colonne CIRDEM dans le presse-papiers
                    copyToClipboard(cirdemContent.trim());
                }

                
                copyCirdemButton.addEventListener('click', function () {
                    copyCirdemToClipboard();
                });


                
            });
        </script>
        
        
        {% if error_message %}
            <p class="error-message">{{ error_message }}</p>
        {% else %}
            {% if matching_entries %}
                <table class='select'>
                    <thead>
                        <tr>
                            <th class="sortable" data-column="extremite">Extrémité</th>
                            <th class="sortable" data-column="aflr">AFLR</th>
                            <th class="sortable" data-column="cirdem">CIRDEM</th>
                            <th class="sortable" data-column="qmcil">QMCIL</th> 
                            <th class="sortable" data-column="qmcmo_act">QMCMO_ACT</th>
                            <th class="sortable" data-column="bloablod">BLOA+BLOD</th>
                            <th class="sortable" data-column="30n">30N</th>
                        </tr>
                    </thead>                
                    <tbody>
                        {% for entry in matching_entries %}
                        <tr class="entry-row">
                            <td class ="zoom2able" data-column="extremite" data-copyable="true">{{ entry.get('extremite', '') }}</td>
                            <td class ="zoom2able" data-column="aflr" data-copyable="true">{{ entry.get('aflr', '') }}</td>
                            <td class ="zoom2able" data-column="cirdem">{{ entry.get('cirdem', '') }}</td>
                            <td class ="zoom2able" data-column="qmcil" data-copyable="true"></td>
                            <td class ="zoom2able" data-column="qmcmo" data-copyable="true"></td>
                            <td class ="zoom2able" data-column="bloablod" data-copyable="true"></td>
                            <td class="zoom2able" data-column="30n" data-copyable="true">{{ entry.get('support', '') }}</td>

                        </tr>

                    {% endfor %}

                    <form id="filterForm">
                        <label class="labelselect" for="extremite_select">Filtrer par extrémité :</label>
                        <select class="selectmapolice"name="extremite_select" id="extremite_select">
                            <option value="" selected>Toutes les extrémités</option>
                            {% for extremite in extremite_values %}
                                <option value="{{ extremite }}">{{ extremite }}</option>
                            {% endfor %}
                        </select>
                        <input type="button" class="btn btn-primary" value="Filtrer" id="filterButton"> 
                    </form>

                    </tbody>
                </table>
                <div class="box">
                <button id="copyCirdemButton" class="btn btn-primary">Copier CIRDEM</button>
                <button id="copyQMCILButton" class="btn btn-primary">Copier QMCIL</button>           
                <button id="copyQmcmoButton" class="btn btn-primary">Copier QMCMO</button>
                <button id="copyBloaBlodButton" class="btn btn-primary">Copier BLOA+BLOD</button>
                <button id="copy30NButton" class="btn btn-primary">Copier 30N</button>
                <button id="miseAJourButton" class="btn btn-primary">Mise à jour</button>

                </div>

            {% endif %}
        {% endif %}
    </main>
</body>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const cellsToZoom = document.querySelectorAll('.select td');
        
            // Ajouter un gestionnaire d'événements pour le survol
            cellsToZoom.forEach(cell => {
                cell.addEventListener('mouseover', function () {
                    cell.classList.add('zoomable');
                });
        
                cell.addEventListener('mouseout', function () {
                    cell.classList.remove('zoomable');
                });
        
                // Ajouter un gestionnaire d'événements pour le clic
                cell.addEventListener('click', function () {
                    // Ajoutez ici le code à exécuter lorsqu'une cellule est cliquée
                    console.log('Cell clicked:', cell.innerText);
                });
            });
        });
        
    </script>
</html>


