<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 

    <title>Liste des NE des couples</title> 
</head>
<body>
    <div id="header">
        <a href="/" class="Accueil-lien">
            <img src="static/images/maison.png" alt="Accueil">   
        </a>
        <h1>Les NE du couple</h1>
    </div>
    <main>
        <div class="box">
            <form action="/NeOfis" method="POST" id="myForm">
                <textarea name="ne" id="myTextarea" class="customTextarea" placeholder="Entrez votre NE ici..." required="" onkeydown="return event.key != 'Enter';"></textarea><br>
                <input type="submit" class="btn btn-primary" value="Exécuter">
            </form> 
        </div>
        <script>
            document.getElementById('myForm').addEventListener('keydown', function(event) {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    document.getElementById('myForm').submit();
                }
            });
           
        </script>
        {% if ne_error %}
            <p class="error-message">{{ ne_error }}</p>
        {% endif %}

        {% if numeroabo_error %}
            <p class="error-message">{{ numeroabo_error }}</p>
        {% endif %}

        {% if resultat %}
            <div class="table-container">
                <h2>Résultats pour le couple N&#176;<span id="couple">{{ couple }}</span> de l'UR:<span id="numerour">{{ numerour }}</span></h2>
                <table border="1">
                    {% for ligne in resultat %}
                    <tr>
                        {% for cellule in ligne %}
                        <td>
                            <div class="zoomable">{{ cellule }}</div>
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                <button class="btn btn-primary increase-couple">+</button>
                <button class="btn btn-primary decrease-couple">-</button>
            </div>
        {% endif %}
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const tableContainer = document.querySelector('.table-container');
            const table = tableContainer.querySelector('table');
            const cells = table.querySelectorAll('.zoomable');
            let currentCouple = parseInt(document.getElementById('couple').textContent);
            let currentNumerour = parseInt(document.getElementById('numerour').textContent);
            
            // Créez un objet pour stocker les changements de couleurs par couple
            const colorsByCouple = {};
            
            // Fonction pour initialiser ou obtenir les changements de couleurs pour le couple actuel
            function initColors() {
                const key = `${currentNumerour}-${currentCouple}`;
                if (!(key in colorsByCouple) || !Array.isArray(colorsByCouple[key])) {
                    colorsByCouple[key] = Array.from({ length: 16 }, () => Array(8).fill('#e9eff6'));
                }
                return colorsByCouple[key];
            }
            
            // Fonction pour mettre à jour le tableau des changements de couleurs actuel
            function updateTableColors() {
                const key = `${currentNumerour}-${currentCouple}`;
                colorsByCouple[key] = initColors().map(row => row.slice()); // Utiliser slice pour copier chaque ligne du tableau
            }
            
            function generateNEData(numerour, couple) {
                let resultatList = [];
                for (let i = 0; i < 16; i++) {
                    let ligne = [];
                    for (let j = 0; j < 8; j++) {
                        ligne.push(`NE=${numerour}-${(j).toString().padStart(2, '0')}-${couple + i * 8}`);
                    }
                    resultatList.push(ligne);
                }
                return resultatList;
            }
            
            document.querySelector('.increase-couple').addEventListener('click', function () {
                if (currentCouple < 7) {
                    // Sauvegardez les changements de couleurs du tableau actuel
                    updateTableColors();
                    currentCouple += 1;
                    document.getElementById('couple').textContent = currentCouple;
                    // Chargez les changements de couleurs du nouveau tableau, ou initialisez-les si elles n'existent pas
                    updateTableUI();
                }
            });
            
            document.querySelector('.decrease-couple').addEventListener('click', function () {
                if (currentCouple > 0) {
                    // Sauvegardez les changements de couleurs du tableau actuel
                    updateTableColors();
                    currentCouple -= 1;
                    document.getElementById('couple').textContent = currentCouple;
                    // Chargez les changements de couleurs du nouveau tableau, ou initialisez-les si elles n'existent pas
                    updateTableUI();
                }
            });
            
            cells.forEach(function (cell, index) {
                cell.addEventListener('click', function () {
                    const currentColors = initColors();
                    const currentColor = currentColors[Math.floor(index / 8)][index % 8];
                    switch (currentColor) {
                        case '#e9eff6':
                            cell.style.backgroundColor = 'red';
                            currentColors[Math.floor(index / 8)][index % 8] = 'red';
                            break;
                        case 'red':
                            cell.style.backgroundColor = 'green';
                            currentColors[Math.floor(index / 8)][index % 8] = 'green';
                            break;
                        case 'green':
                            cell.style.backgroundColor = '#e9eff6';
                            currentColors[Math.floor(index / 8)][index % 8] = '#e9eff6';
                            break;
                        default:
                            break;
                    }
                });
            });
            
            // Fonction pour mettre à jour l'interface utilisateur du tableau en cours
            function updateTableUI() {
                const currentColors = initColors(); // Utilisez initColors() pour obtenir les changements de couleurs individuels du tableau actuel
                const resultatList = generateNEData(currentNumerour, currentCouple);
            
                cells.forEach(function (cell, index) {
                    const row = Math.floor(index / 8);
                    const col = index % 8;
                    const color = currentColors[row][col] || '#e9eff6';
        
                    cell.style.backgroundColor = color;
                    cell.textContent = resultatList[row][col];
                });
            }
            
            // Initialisez l'interface utilisateur avec le premier couple
            updateTableUI();
        });
    </script>
    
</body>
</html>


